body,html,nav{
	padding:0;
	margin:0;
}
body{
	width: 100%;
	overflow-x: hidden;
}
#offer-100-label{
	height: 3.6em;
	line-height: 3.6em;
	padding-left: 3em;
	border-top: 1px solid rgba(0,0,0,0.3);
	border-bottom: 1px solid rgba(0,0,0,0.3);
}
#recommend-label{
	background-color: #ccffcc;color: white;margin:0;height: 3em;line-height: 3em;width: 100%;
}
#Filter{
	left: 0;
	right: 0;
	margin: 0 auto;
}
.left-content{
	float: left;
	width: 70%;
}
.right-panel{
	margin-left: 2%;
	float: left;
	width: 28%;
	min-width: 100px;
}